# Virtual Environment
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Database
instance/
*.db
*.sqlite
*.sqlite3

# OS Metadata
.DS_Store
Thumbs.db

# Logs
*.log

# IDE settings
.vscode/
.idea/
